---
---

@import "minimal-mistakes"; // garde les styles du thème

a:visited {
  color: inherit;
}


/* Couleur de fond pour la barre de navigation */
.masthead {
  background-color: #CFE4FA; /* couleur du fond de la barre */
}

.masthead__inner-wrap {
  background-color: transparent; /* supprime le blanc qui masque le fond */
}

#site-nav{
  background-color: transparent;
}


/* Pour la version sticky (fixée en haut) si utilisée */
.masthead--fixed {
  background-color: #e6f0fa;
}

/*
body {
  background: linear-gradient(-45deg, #fff8f0, #fde3cb, #fff, #fce8d5);
  background-size: 400% 400%;
  animation: gradientSunset 15s ease infinite;
}

@keyframes gradientSunset {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}*/

body {
  background: linear-gradient(-45deg, #f9f9ff, #eaf4fb, #fef8f1, #f5f6fa);
  background-size: 400% 400%;
  animation: skyCycleSoft 60s ease-in-out infinite;
  transition: background 1s ease-in-out;
}

@keyframes skyCycleSoft {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}





