---
---

@import "minimal-mistakes"; // garde les styles du thème

a:visited {
  color: inherit;
}



.masthead__inner-wrap {
  background-color: transparent; /* supprime le blanc qui masque le fond */
}

#site-nav{
  background-color: transparent;
}


/* Pour la version sticky (fixée en haut) si utilisée */
.masthead--fixed {
  background-color: #e6f0fa;
}

body {
  animation: skyCycle 120s ease-in-out infinite;
  background-size: 100% 100%;
  background-attachment: fixed;
  transition: background 3s ease-in-out;
}

.masthead {
  animation: skyCycleNavbar 120s ease-in-out infinite;
  background-size: 100% 100%;
  transition: background 3s ease-in-out;
}

@keyframes skyCycle {
  0%, 16.6% {
    background: linear-gradient(to bottom, #ffeeda, #fad6b0); /* Matin */
  }
  25%, 41.6% {
    background: linear-gradient(to bottom, #f3f9ff, #a7d3f5); /* Midi */
  }
  50%, 66.6% {
    background: linear-gradient(to bottom, #fde3cb, #fbcbb5); /* Soir */
  }
  75%, 91.6% {
    background: linear-gradient(to bottom, #e8eaf6, #bfc6e0); /* Nuit */
  }
  100% {
    background: linear-gradient(to bottom, #ffeeda, #fad6b0); /* Retour Matin */
  }
}

@keyframes skyCycleNavbar {
  0%, 16.6% {
    background: linear-gradient(to right, #fad6b0, #ffeeda); /* Matin */
  }
  25%, 41.6% {
    background: linear-gradient(to right, #a7d3f5, #f3f9ff); /* Midi */
  }
  50%, 66.6% {
    background: linear-gradient(to right, #fbcbb5, #fde3cb); /* Soir */
  }
  75%, 91.6% {
    background: linear-gradient(to right, #bfc6e0, #e8eaf6); /* Nuit */
  }
  100% {
    background: linear-gradient(to right, #fad6b0, #ffeeda); /* Retour Matin */
  }
}


.masthead {
  transition: background 6s ease-in-out;
}


